name: Build and deploy Node.js app to Azure Web App - draftbashfantasy-api

on:
  push:
    paths:
      - 'packages/server/**'
      - 'packages/business/**'
      - 'packages/contracts/**'
      - 'packages/infrastructure/**'
      
    branches:
      - test
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      
      - name: Set up environment variables
        run: |
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" > .env

      - name: npm install, build, and test
        run: |
          npm install -w @draftbash/server
          npm run migrate:database
          npm run build:server
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: node-app
          path: packages/server

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_AF98807AE0CC49DE8C96BF16BBD1C80B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CCC5D529E572456A9DB526B2043D166D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A8C8120225AD4837AD9A5207BD8C396A }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: 'draftbashfantasy-api'
          slot-name: 'Production'
          package: .